{% if mikrotik_tls_certificates['delete_all_certificates'] == true %}
# Delete certitficates and CRLs
/certificate remove [/certificate find ]
/certificate crl remove [/certificate crl find dynamic=no]
{% endif %}


{% if mikrotik_tls_certificates['certificates'][0] is defined %}
# Delete not defined certificates which are managed by Ansible
/certificate remove [/certificate find where name~"Ansible managed" and !( \
{% for cert in mikrotik_tls_certificates['certificates'] %}
{% if not loop.first %} or {% endif %} (name="Ansible managed: [{{ cert['name'] }}]") \
{% endfor %}
)]


# Delete not defined CRLs
/certificate crl remove [/certificate crl find where dynamic=no and !( \
{% for crl in mikrotik_tls_certificates['crls'] %}
{% if not loop.first %} or {% endif %} (url={{ crl['url'] }}) \
{% endfor %}
)]

# Add new certificates (import)
{% for cert in mikrotik_tls_certificates['certificates'] %}
# Add new certificate {{ cert['name'] }}
:if ([/certificate find where name="Ansible managed: [{{ cert['name'] }}]"] = "") do={
{% if cert['public_key_source_path'] is defined %}
# Importing public key {{ cert['name'] }}
/certificate import file-name="Ansible_pki_{{ cert['name'] }}.crt" passphrase=""
{% endif %}

# Importing private key {{ cert['name'] }}
{% if cert['private_key_source_path'] is defined %}
/certificate import file-name="Ansible_pki_{{ cert['name'] }}.pem" passphrase="{{ cert['private_key_password'] }}"
{% endif %}

# Set name for certificate {{ cert['name'] }}
/certificate set [/certificate find name="Ansible_pki_{{ cert['name'] }}.crt_0"] name="Ansible managed: [{{ cert['name'] }}].crt" trusted="{{ cert['trusted'] | bool | ternary('yes', 'no') }}"

# End add certificate {{ cert['name'] }}
}
{% endfor %}

# Add new CRLs
{% for crl in mikrotik_tls_certificates['crls'] %}
:if ([/certificate crl find url="{{ crl['url'] }}"] = "") do={
# Add new CRL {{ crl['url'] }}
/certificate crl add url="{{ crl['url'] }}" fingerprint=""
}

{% endfor %}
# End add CRLs
{% endif %}
